div.slider
	div.item
		div.slider-img
		div
			h3= content.slider.one.title
			p= content.slider.one.message
	div.item
		div.no-content
		div
			h3= content.nocontent.title
			p= content.nocontent.text
	div.item
		div.no-content
		div
			h3= content.nocontent.title
			p= content.nocontent.text

div.slider-control
	div
		i.fa.fa-angle-right.right
		i.fa.fa-angle-left.left